<h2>Update Information</h2>

<%= render partial: 'form', locals: { path: "/shelters/#{@shelter.id}",
                                      method: :patch,
                                      button_name: "Save",
                                      shelter: @shelter} %>
