<h2>New Shelter</h2>

<%= render partial: 'form', locals: { path: "/shelters",
                                      method: :get,
                                      button_name: "Create Shelters",
                                      shelter: Shelter.new} %>
