<h2>Edit Review</h2>

<%= render partial: 'form', locals: { path: "/shelters/#{@review.shelter.id}/reviews/#{@review.id}",
                                      method: :patch,
                                      button_name: "Save Review",
                                      review: @review } %>
