<h2>Add New Review</h2>

<%= render partial: 'form', locals: { path: "/shelters/#{@shelter.id}/reviews",
                                      method: :post,
                                      button_name: "Submit Review",
                                      review: Review.new } %>
